body {
    font-family: 'Patrick Hand SC', cursive; 
    background-image: url('beijing.jpg'); /* 您的初音未来背景图的路径 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #444;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* 稍微透明的背景，使初音未来的壁纸能够稍微显现出来 */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 380px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #00a2e8; /* 青蓝色标题 */
}

.input-container label {
    display: block;
    margin-bottom: 5px;
}

.input-container input {
    width: 93%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #00a2e8; /* 青蓝色边框 */
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00a2e8; /* 青蓝色按钮 */
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0082b8;
}

button#add-degree {
    margin-bottom: 15px;
}


.footer {
    position: fixed; 
    bottom: 10px; 
    width: 100%; 
    text-align: center; 
    font-size: 14px; 
    color: #888888;
}


h1::before {
    content: "♪ ";
}

h1::after {
    content: " ♪";
}

button::before {
    content: "❤ ";
}

button::after {
    content: " ❤";
}